Repository interledgerjs/interledgerjs: changes, and which Codecov flags are due for each by the changed paths.
All: connection_tag_utils, ilp_logger, ilp_packet, ilp_plugin, ilp_protocol_ccp, ilp_protocol-ildcp, ilp_spsp_payout, oer_utils, pay

test(pay): integration, improve coverage
  packages/pay/package.json
  packages/pay/test/connection.spec.ts
  packages/pay/test/index.spec.ts
  packages/pay/test/plugin.ts
  packages/pay/test/rate-backend.ts
  yarn.lock
Due: pay

docs(readme): tables for interfaces
  packages/pay/README.md
Due: pay

feat: estimate duration, min delivery amount
  packages/pay/README.md
  packages/pay/src/index.ts
Due: pay

feat(pay): discover precise max packet amount
  .vscode/settings.json
  packages/pay/src/controllers/max-packet.ts
  packages/pay/src/controllers/rate-probe.ts
  packages/pay/test/index.spec.ts
Due: pay

refactor: robust integer, ratio operations
  packages/pay/src/controllers/exchange-rate.ts
  packages/pay/src/utils.ts
Due: pay

feat(pay): add backoff to pacer
  packages/pay/src/connection.ts
  packages/pay/src/controllers/amount.ts
  packages/pay/src/controllers/max-packet.ts
  packages/pay/src/controllers/pacer.ts
  packages/pay/src/controllers/rate-probe.ts
  packages/pay/src/index.ts
  packages/pay/test/index.spec.ts
Due: pay

fix: only share address to fetch asset details
  packages/pay/src/controllers/asset-details.ts
  packages/pay/src/controllers/failure.ts
  packages/pay/src/controllers/index.ts
  packages/pay/test/index.spec.ts
Due: pay

test: improve coverage, rate edge cases
  packages/pay/test/connection.spec.ts
  packages/pay/test/index.spec.ts
  packages/pay/test/rate-backend.ts
Due: pay

docs(readme): api, badges
  packages/pay/README.md
  packages/pay/package.json
  packages/pay/src/index.ts
  packages/pay/src/setup/open-payments.ts
  packages/pay/test/index.spec.ts
  yarn.lock
Due: pay

feat: robust amount strategy, rate errors
  .eslintrc.js
  package.json
  packages/ilp-logger/src/index.ts
  packages/ilp-protocol-ildcp/src/index.ts
  packages/oer-utils/src/errors/base-error.ts
  packages/oer-utils/src/lib/writer.ts
  packages/pay/README.md
  packages/pay/package.json
  packages/pay/src/connection.ts
  packages/pay/src/controllers/amount.ts
  packages/pay/src/controllers/asset-details.ts
  packages/pay/src/controllers/exchange-rate.ts
  packages/pay/src/controllers/failure.ts
  packages/pay/src/controllers/index.ts
  packages/pay/src/controllers/liquidity-congestion.ts
  packages/pay/src/controllers/max-packet.ts
  packages/pay/src/controllers/pacer.ts
  packages/pay/src/controllers/pending-requests.ts
  packages/pay/src/controllers/rate-probe.ts
  packages/pay/src/controllers/sequence.ts
  packages/pay/src/index.ts
  packages/pay/src/rates/coincap.ts
  packages/pay/src/rates/ecb.ts
  packages/pay/src/rates/index.ts
  packages/pay/src/setup/open-payments.ts
  packages/pay/src/setup/shared.ts
  packages/pay/src/setup/spsp.ts
  packages/pay/src/utils.ts
  packages/pay/test/connection.spec.ts
  packages/pay/test/index.spec.ts
  packages/pay/test/rate-backend.ts
  yarn.lock
Due: ilp_logger, ilp_protocol-ildcp, oer_utils, pay

refactor: controller interface, misc
  .codecov.yml
  .github/workflows/build.yml
  .github/workflows/master.yml
  packages/connection-tag-utils/package.json
  packages/ilp-logger/package.json
  packages/ilp-packet/package.json
  packages/ilp-plugin/package.json
  packages/ilp-protocol-ccp/package.json
  packages/ilp-protocol-ildcp/package.json
  packages/ilp-spsp-payout/package.json
  packages/oer-utils/package.json
  packages/pay/package.json
  packages/pay/src/connection.ts
  packages/pay/src/controllers/amount.ts
  packages/pay/src/controllers/asset-details.ts
  packages/pay/src/controllers/exchange-rate.ts
  packages/pay/src/controllers/failure.ts
  packages/pay/src/controllers/index.ts
  packages/pay/src/controllers/pacer.ts
  packages/pay/src/controllers/pending-requests.ts
  packages/pay/src/controllers/sequence.ts
  packages/pay/src/index.ts
  packages/pay/src/rates/index.ts
  packages/pay/src/setup/shared.ts
  packages/pay/src/setup/spsp.ts
  packages/pay/src/utils.ts
Due: connection_tag_utils, ilp_logger, ilp_packet, ilp_plugin, ilp_protocol_ccp, ilp_protocol-ildcp, ilp_spsp_payout, oer_utils, pay

Update receivemax desc (#152)
  packages/ilp-protocol-stream/src/stream.ts
Due: none

perf(server): clean up closed connections
  packages/ilp-protocol-stream/src/pool.ts
  packages/ilp-protocol-stream/src/util/aging-set.ts
  packages/ilp-protocol-stream/test/util/aging-set.test.ts
Due: none

2.6.4
  packages/ilp-protocol-stream/package-lock.json
  packages/ilp-protocol-stream/package.json
Due: none

feat(pay): open payments support
  .codecov.yml
  .gitignore
  README.md
  package.json
  packages/ilp-logger/package.json
  packages/ilp-protocol-ildcp/package.json
  packages/ilp-spsp-payout/package.json
  packages/oer-utils/package.json
  packages/pay/README.md
  packages/pay/jest.config.js
  packages/pay/package.json
  packages/pay/src/connection.ts
  packages/pay/src/controllers/amount.ts
  packages/pay/src/controllers/asset-details.ts
  packages/pay/src/controllers/exchange-rate.ts
  packages/pay/src/controllers/failure.ts
  packages/pay/src/controllers/max-packet.ts
  packages/pay/src/controllers/rate-probe.ts
  packages/pay/src/controllers/sequence.ts
  packages/pay/src/index.ts
  packages/pay/src/open-payments.ts
  packages/pay/src/setup/open-payments.ts
  packages/pay/src/setup/shared.ts
  packages/pay/src/setup/spsp.ts
  packages/pay/src/utils.ts
  packages/pay/test/connection.spec.ts
  packages/pay/test/helpers/plugin.ts
  packages/pay/test/helpers/rate-backend.ts
  packages/pay/test/index.spec.ts
  yarn.lock
Due: ilp_logger, ilp_protocol-ildcp, ilp_spsp_payout, oer_utils, pay

chore(release): publish
  packages/ilp-spsp-payout/CHANGELOG.md
  packages/ilp-spsp-payout/package.json
Due: ilp_spsp_payout

feat: stateless stream receiver
  README.md
  packages/ilp-packet/README.md
  packages/ilp-packet/src/index.ts
  packages/ilp-packet/src/utils/address.ts
  packages/ilp-packet/src/utils/base64url.ts
  packages/ilp-packet/test/date.spec.ts
  packages/ilp-packet/test/parser.spec.ts
  packages/ilp-packet/test/typing.spec.ts
  packages/ilp-protocol-ildcp/src/index.ts
  packages/pay/README.md
  packages/pay/package.json
  packages/pay/src/connection.ts
  packages/pay/src/controllers/asset-details.ts
  packages/pay/src/controllers/failure.ts
  packages/pay/src/controllers/max-packet.ts
  packages/pay/src/controllers/pacer.ts
  packages/pay/src/index.ts
  packages/pay/src/open-payments.ts
  packages/pay/src/utils.ts
  packages/pay/test/connection.spec.ts
  packages/pay/test/index.spec.ts
  packages/stream-receiver/README.md
  packages/stream-receiver/jest.config.js
  packages/stream-receiver/package.json
  packages/stream-receiver/src/index.ts
  packages/stream-receiver/src/utils.ts
  packages/stream-receiver/test/index.spec.ts
  packages/stream-receiver/tsconfig.json
  yarn.lock
Due: ilp_packet, ilp_plugin, ilp_protocol-ildcp, pay

chore: fewer ci builds
  .github/workflows/build.yml
  .github/workflows/master.yml
  package.json
  packages/pay/package.json
  yarn.lock
Due: pay

docs(ilp-logger): minor edits
  packages/ilp-logger/README.md
Due: ilp_logger

chore(release): publish
  packages/ilp-logger/CHANGELOG.md
  packages/ilp-logger/package.json
  packages/ilp-packet/CHANGELOG.md
  packages/ilp-packet/package.json
  packages/ilp-plugin/CHANGELOG.md
  packages/ilp-plugin/package.json
  packages/ilp-protocol-ccp/CHANGELOG.md
  packages/ilp-protocol-ccp/package.json
  packages/ilp-protocol-ildcp/CHANGELOG.md
  packages/ilp-protocol-ildcp/package.json
  packages/ilp-spsp-payout/CHANGELOG.md
  packages/ilp-spsp-payout/package.json
  packages/oer-utils/CHANGELOG.md
  packages/oer-utils/package.json
  packages/pay/CHANGELOG.md
  packages/pay/package.json
  packages/stream-receiver/CHANGELOG.md
  packages/stream-receiver/package.json
Due: ilp_logger, ilp_packet, ilp_plugin, ilp_protocol_ccp, ilp_protocol-ildcp, ilp_spsp_payout, oer_utils, pay

chore: fix updated yarn.lock preventing publish
  packages/connection-tag-utils/package.json
  packages/ilp-logger/package.json
  packages/ilp-packet/package.json
  packages/ilp-plugin/package.json
  packages/ilp-protocol-ccp/package.json
  packages/ilp-protocol-ildcp/package.json
  packages/ilp-spsp-payout/package.json
  packages/oer-utils/package.json
  packages/pay/package.json
  packages/stream-receiver/package.json
Due: connection_tag_utils, ilp_logger, ilp_packet, ilp_plugin, ilp_protocol_ccp, ilp_protocol-ildcp, ilp_spsp_payout, oer_utils, pay

chore(release): publish
  packages/connection-tag-utils/CHANGELOG.md
  packages/connection-tag-utils/package.json
  packages/ilp-logger/CHANGELOG.md
  packages/ilp-logger/package.json
  packages/ilp-packet/CHANGELOG.md
  packages/ilp-packet/package.json
  packages/ilp-plugin/CHANGELOG.md
  packages/ilp-plugin/package.json
  packages/ilp-protocol-ccp/CHANGELOG.md
  packages/ilp-protocol-ccp/package.json
  packages/ilp-protocol-ildcp/CHANGELOG.md
  packages/ilp-protocol-ildcp/package.json
  packages/ilp-spsp-payout/CHANGELOG.md
  packages/ilp-spsp-payout/package.json
  packages/oer-utils/CHANGELOG.md
  packages/oer-utils/package.json
  packages/pay/CHANGELOG.md
  packages/pay/package.json
  packages/stream-receiver/CHANGELOG.md
  packages/stream-receiver/package.json
Due: connection_tag_utils, ilp_logger, ilp_packet, ilp_plugin, ilp_protocol_ccp, ilp_protocol-ildcp, ilp_spsp_payout, oer_utils, pay

chore: stage yarn.lock when versioning
  package.json
  packages/connection-tag-utils/package.json
  packages/ilp-logger/package.json
  packages/ilp-packet/package.json
  packages/ilp-plugin/package.json
  packages/ilp-protocol-ccp/package.json
  packages/ilp-protocol-ildcp/package.json
  packages/ilp-spsp-payout/package.json
  packages/oer-utils/package.json
  packages/pay/package.json
  packages/stream-receiver/package.json
Due: connection_tag_utils, ilp_logger, ilp_packet, ilp_plugin, ilp_protocol_ccp, ilp_protocol-ildcp, ilp_spsp_payout, oer_utils, pay

chore(release): publish
  packages/connection-tag-utils/CHANGELOG.md
  packages/connection-tag-utils/package.json
  packages/ilp-logger/CHANGELOG.md
  packages/ilp-logger/package.json
  packages/ilp-packet/CHANGELOG.md
  packages/ilp-packet/package.json
  packages/ilp-plugin/CHANGELOG.md
  packages/ilp-plugin/package.json
  packages/ilp-protocol-ccp/CHANGELOG.md
  packages/ilp-protocol-ccp/package.json
  packages/ilp-protocol-ildcp/CHANGELOG.md
  packages/ilp-protocol-ildcp/package.json
  packages/ilp-spsp-payout/CHANGELOG.md
  packages/ilp-spsp-payout/package.json
  packages/oer-utils/CHANGELOG.md
  packages/oer-utils/package.json
  packages/pay/CHANGELOG.md
  packages/pay/package.json
  packages/stream-receiver/CHANGELOG.md
  packages/stream-receiver/package.json
  yarn.lock
Due: connection_tag_utils, ilp_logger, ilp_packet, ilp_plugin, ilp_protocol_ccp, ilp_protocol-ildcp, ilp_spsp_payout, oer_utils, pay

feat(pay): web monetization
  packages/ilp-protocol-ildcp/src/index.ts
  packages/pay/README.md
  packages/pay/jest.config.js
  packages/pay/package.json
  packages/pay/src/connection.ts
  packages/pay/src/controllers/asset-details.ts
  packages/pay/src/controllers/exchange-rate.ts
  packages/pay/src/controllers/expiry.ts
  packages/pay/src/controllers/failure.ts
  packages/pay/src/controllers/index.ts
  packages/pay/src/controllers/liquidity-congestion.ts
  packages/pay/src/controllers/max-packet.ts
  packages/pay/src/controllers/pacer.ts
  packages/pay/src/controllers/payment.ts
  packages/pay/src/controllers/pending-requests.ts
  packages/pay/src/controllers/rate-probe.ts
  packages/pay/src/controllers/sequence.ts
  packages/pay/src/controllers/timeout.ts
  packages/pay/src/index.ts
  packages/pay/src/open-payments.ts
  packages/pay/src/send-loop.ts
  packages/pay/src/utils.ts
  packages/pay/src/web-monetization.ts
  packages/pay/test/connection.spec.ts
  packages/pay/test/index.spec.ts
  packages/pay/test/monetization.spec.ts
  packages/stream-core/index.ts
  packages/stream-core/src/crypto.ts
  packages/stream-receiver/README.md
  packages/tap/README.md
  packages/tap/jest.config.js
  packages/tap/package.json
  packages/tap/tsconfig.json
  tsconfig.json
  yarn.lock
Due: ilp_protocol-ildcp, pay

fix(spsp-payout): memory leak on send() error
  packages/ilp-spsp-payout/src/lib/PayoutConnection.ts
  packages/ilp-spsp-payout/test/PayoutConnection.spec.ts
Due: ilp_spsp_payout

feat(spsp-payout): fix another memory leak
  packages/ilp-spsp-payout/src/lib/PayoutConnection.ts
Due: ilp_spsp_payout

Path conditions:
  connection_tag_utils: any of: packages/connection-tag-utils/
  ilp_logger: any of: packages/ilp-logger/
  ilp_packet: any of: packages/ilp-packet/
  ilp_plugin: any of: packages/ilp-packet/
  ilp_protocol_ccp: any of: packages/ilp-protocol-ccp/
  ilp_protocol-ildcp: any of: packages/ilp-protocol-ildcp/
  ilp_spsp_payout: any of: packages/ilp-spsp-payout/
  oer_utils: any of: packages/oer-utils/
  pay: any of: packages/pay/
