Repository interledgerjs/interledgerjs: changes, and which Codecov flags are due for each by the changed paths.
All: connection_tag_utils, ilp_logger, ilp_packet, ilp_plugin, ilp_protocol_ccp, ilp_protocol-ildcp, ilp_spsp_payout, oer_utils, pay

.codecov.yml:

coverage:
  status:
    patch:
      default:
        target: 80%
    project:
      default:
        target: 80%
      pay:
        target: 95%
        flags:
          - pay

flags:
  connection_tag_utils:
    paths:
      - packages/connection-tag-utils/src/
  ilp_logger:
    paths:
      - packages/ilp-logger/src/
  ilp_packet:
    paths:
      - packages/ilp-packet/src/
  ilp_plugin:
    paths:
      - packages/ilp-packet/src/
  ilp_protocol_ccp:
    paths:
      - packages/ilp-protocol-ccp/src/
  ilp_protocol-ildcp:
    paths:
      - packages/ilp-protocol-ildcp/src/
  ilp_spsp_payout:
    paths:
      - packages/ilp-spsp-payout/src/
  oer_utils:
    paths:
      - packages/oer-utils/src/
  pay:
    paths:
      - packages/pay/src/

fix: fixing eslint issues
  .eslintrc.js
  package.json
  packages/ilp-logger/test/index.spec.ts
  packages/ilp-plugin/src/index.ts
  packages/ilp-plugin/test/index.spec.ts
  packages/ilp-spsp-payout/src/lib/PayoutConnection.ts
  packages/oer-utils/src/lib/util.ts
  packages/oer-utils/test/predictor.spec.ts
  packages/pay/test/setup.spec.ts
Due: ilp_spsp_payout, oer_utils

chore: update minimum node version to 12.x
  .github/workflows/build.yml
  .github/workflows/master.yml
Due: none

fix: remove eslint-plugin-mocha
  package.json
  yarn.lock
Due: none

chore(release): publish
  packages/connection-tag-utils/CHANGELOG.md
  packages/connection-tag-utils/package.json
  packages/ilp-logger/CHANGELOG.md
  packages/ilp-logger/package.json
  packages/ilp-packet/CHANGELOG.md
  packages/ilp-packet/package.json
  packages/ilp-plugin/CHANGELOG.md
  packages/ilp-plugin/package.json
  packages/ilp-protocol-ccp/CHANGELOG.md
  packages/ilp-protocol-ccp/package.json
  packages/ilp-protocol-ildcp/CHANGELOG.md
  packages/ilp-protocol-ildcp/package.json
  packages/ilp-spsp-payout/CHANGELOG.md
  packages/ilp-spsp-payout/package.json
  packages/oer-utils/CHANGELOG.md
  packages/oer-utils/package.json
  packages/pay/CHANGELOG.md
  packages/pay/package.json
  packages/stream-receiver/CHANGELOG.md
  packages/stream-receiver/package.json
  yarn.lock
Due: none

chore(ilp-protocol-stream): run prettier
  packages/ilp-protocol-stream/.mocharc.yaml
  packages/ilp-protocol-stream/README.md
  packages/ilp-protocol-stream/example.js
  packages/ilp-protocol-stream/scripts/example-web.js
  packages/ilp-protocol-stream/scripts/generate-fixtures.ts
  packages/ilp-protocol-stream/scripts/publish-docs.js
  packages/ilp-protocol-stream/src/connection.ts
  packages/ilp-protocol-stream/src/crypto.ts
  packages/ilp-protocol-stream/src/index.ts
  packages/ilp-protocol-stream/src/packet.ts
  packages/ilp-protocol-stream/src/pool.ts
  packages/ilp-protocol-stream/src/server.ts
  packages/ilp-protocol-stream/src/stream.ts
  packages/ilp-protocol-stream/src/util/congestion.ts
  packages/ilp-protocol-stream/src/util/crypto-browser.ts
  packages/ilp-protocol-stream/src/util/crypto-node.ts
  packages/ilp-protocol-stream/src/util/data-offset-sorter.ts
  packages/ilp-protocol-stream/src/util/data-queue.ts
  packages/ilp-protocol-stream/src/util/long.ts
  packages/ilp-protocol-stream/src/util/plugin-interface.ts
  packages/ilp-protocol-stream/src/util/rational.ts
  packages/ilp-protocol-stream/src/util/receipt.ts
  packages/ilp-protocol-stream/src/util/stoppable-timeout.ts
  packages/ilp-protocol-stream/test/benchmarks/packet.ts
  packages/ilp-protocol-stream/test/browser.test.ts
  packages/ilp-protocol-stream/test/browser/main.js
  packages/ilp-protocol-stream/test/browser/webpack.config.js
  packages/ilp-protocol-stream/test/connection.test.ts
  packages/ilp-protocol-stream/test/crypto.test.ts
  packages/ilp-protocol-stream/test/index.test.ts
  packages/ilp-protocol-stream/test/mocks/plugin.ts
  packages/ilp-protocol-stream/test/packet.test.ts
  packages/ilp-protocol-stream/test/stream.test.ts
  packages/ilp-protocol-stream/test/util/data-offset-sorter.test.ts
  packages/ilp-protocol-stream/test/util/data-queue.test.ts
  packages/ilp-protocol-stream/test/util/long.test.ts
  packages/ilp-protocol-stream/test/util/rational.test.ts
  packages/ilp-protocol-stream/test/util/receipt.test.ts
  packages/ilp-protocol-stream/typedoc.js
Due: none

chore(ilp-protocol-stream): fix eslint and tsc errors
  .eslintrc.js
  packages/ilp-protocol-stream/package.json
  packages/ilp-protocol-stream/scripts/generate-fixtures.ts
  packages/ilp-protocol-stream/src/connection.ts
  packages/ilp-protocol-stream/src/packet.ts
  packages/ilp-protocol-stream/src/stream.ts
  packages/ilp-protocol-stream/src/util/crypto-browser.ts
  packages/ilp-protocol-stream/src/util/crypto-node.ts
  packages/ilp-protocol-stream/src/util/data-offset-sorter.ts
  packages/ilp-protocol-stream/src/util/long.ts
  packages/ilp-protocol-stream/src/util/rational.ts
  packages/ilp-protocol-stream/src/util/stoppable-timeout.ts
  packages/ilp-protocol-stream/test/benchmarks/packet.ts
  packages/ilp-protocol-stream/test/browser.test.ts
  packages/ilp-protocol-stream/test/browser/webpack.config.ts
  packages/ilp-protocol-stream/test/connection.test.ts
  packages/ilp-protocol-stream/test/fixtures/packets.json
  packages/ilp-protocol-stream/test/index.test.ts
  packages/ilp-protocol-stream/test/packet.test.ts
  packages/ilp-protocol-stream/test/stream.test.ts
  packages/ilp-protocol-stream/test/util/data-queue.test.ts
  packages/ilp-protocol-stream/test/util/long.test.ts
  packages/ilp-protocol-stream/test/util/rational.test.ts
  packages/ilp-protocol-stream/test/util/receipt.test.ts
  tsconfig.json
  yarn.lock
Due: none

chore(ilp-protocol-stream): rename test -> spec
  .eslintrc.js
  packages/ilp-protocol-stream/test/browser.spec.ts
  packages/ilp-protocol-stream/test/browser/main.js
  packages/ilp-protocol-stream/test/connection.spec.ts
  packages/ilp-protocol-stream/test/crypto.spec.ts
  packages/ilp-protocol-stream/test/index.spec.ts
  packages/ilp-protocol-stream/test/packet.spec.ts
  packages/ilp-protocol-stream/test/stream.spec.ts
  packages/ilp-protocol-stream/test/util/data-offset-sorter.spec.ts
  packages/ilp-protocol-stream/test/util/data-queue.spec.ts
  packages/ilp-protocol-stream/test/util/long.spec.ts
  packages/ilp-protocol-stream/test/util/rational.spec.ts
  packages/ilp-protocol-stream/test/util/receipt.spec.ts
Due: none

test(ilp-protocol-stream): fix node stream tests
  packages/ilp-protocol-stream/test/connection.spec.ts
  packages/ilp-protocol-stream/test/stream.spec.ts
Due: none

test(ilp-protocol-stream): fix test race condition
  packages/ilp-protocol-stream/test/stream.spec.ts
Due: none

chore(ilp-protocol-stream): integrate to monorepo
  packages/ilp-protocol-stream/.circleci/config.yml
  packages/ilp-protocol-stream/.mocharc.yaml
  packages/ilp-protocol-stream/package.json
  packages/ilp-protocol-stream/test/browser.spec.ts
  packages/ilp-protocol-stream/test/browser/webpack.config.ts
  packages/ilp-protocol-stream/tsconfig.build.json
  packages/ilp-protocol-stream/tsconfig.json
  packages/ilp-protocol-stream/tsconfig.test.json
  packages/ilp-protocol-stream/tslint.json
  packages/ilp-protocol-stream/wallaby.js
  yarn.lock
Due: none

refactor(ilp-protocol-stream): fix eslint warnings
  .eslintrc.js
  package.json
  packages/ilp-protocol-stream/src/connection.ts
  packages/ilp-protocol-stream/src/packet.ts
  packages/ilp-protocol-stream/src/pool.ts
  packages/ilp-protocol-stream/src/server.ts
  packages/ilp-protocol-stream/src/stream.ts
  packages/ilp-protocol-stream/src/util/crypto-browser.ts
  packages/ilp-protocol-stream/src/util/long.ts
  packages/ilp-protocol-stream/src/util/rational.ts
  packages/ilp-protocol-stream/test/benchmarks/packet.ts
  packages/ilp-protocol-stream/test/connection.spec.ts
  packages/ilp-protocol-stream/test/crypto.spec.ts
  packages/ilp-protocol-stream/test/index.spec.ts
  packages/ilp-protocol-stream/test/mocks/plugin.ts
  packages/ilp-protocol-stream/test/packet.spec.ts
  packages/ilp-protocol-stream/test/stream.spec.ts
  packages/ilp-protocol-stream/test/util/receipt.spec.ts
Due: none

refactor: misc cleanup
  .eslintrc.js
  packages/ilp-logger/src/index.ts
  packages/ilp-packet/src/index.ts
  packages/ilp-packet/test/benchmarks/packet.ts
  packages/ilp-plugin/src/index.ts
  packages/ilp-spsp-payout/src/index.ts
  packages/ilp-spsp-payout/test/PayoutConnection.spec.ts
  packages/oer-utils/src/lib/reader.ts
  packages/oer-utils/src/lib/util.ts
  packages/oer-utils/test/base-error.spec.ts
  packages/oer-utils/test/reader.spec.ts
Due: ilp_logger, ilp_packet, ilp_plugin, ilp_spsp_payout, oer_utils

refactor(ilp-protocol-stream): tslint cleanup
  packages/ilp-protocol-stream/src/connection.ts
  packages/ilp-protocol-stream/src/server.ts
  packages/ilp-protocol-stream/src/util/crypto-browser.ts
Due: none

docs(ilp-protocol-stream): integrate READMEs
  README.md
  packages/ilp-protocol-stream/README.md
Due: none

docs: update codecov script example
  README.md
Due: none

chore(release): publish
  packages/ilp-logger/CHANGELOG.md
  packages/ilp-logger/package.json
  packages/ilp-packet/CHANGELOG.md
  packages/ilp-packet/package.json
  packages/ilp-plugin/CHANGELOG.md
  packages/ilp-plugin/package.json
  packages/ilp-protocol-ccp/CHANGELOG.md
  packages/ilp-protocol-ccp/package.json
  packages/ilp-protocol-ildcp/CHANGELOG.md
  packages/ilp-protocol-ildcp/package.json
  packages/ilp-protocol-stream/CHANGELOG.md
  packages/ilp-protocol-stream/package-lock.json
  packages/ilp-protocol-stream/package.json
  packages/ilp-spsp-payout/CHANGELOG.md
  packages/ilp-spsp-payout/package.json
  packages/oer-utils/CHANGELOG.md
  packages/oer-utils/package.json
  packages/pay/CHANGELOG.md
  packages/pay/package.json
  packages/stream-receiver/CHANGELOG.md
  packages/stream-receiver/package.json
Due: none

chore(pay): replace incoming payment state with completed flag
  packages/pay/README.md
  packages/pay/src/index.ts
  packages/pay/src/open-payments.ts
  packages/pay/test/setup.spec.ts
Due: pay

chore(release): publish
  packages/pay/CHANGELOG.md
  packages/pay/package.json
Due: none

feat(ilp-pay): allow payment given connection url
  packages/pay/src/index.ts
  packages/pay/src/open-payments.ts
  packages/pay/test/setup.spec.ts
Due: pay

docs(ilp-pay): update README and comments
  packages/pay/README.md
  packages/pay/src/open-payments.ts
Due: pay

feat(ilp-pay): enforce only one destination
  packages/pay/src/open-payments.ts
  packages/pay/test/setup.spec.ts
Due: pay

feat(ilp-pay): allow connection url as payment destination (#290)
  packages/pay/README.md
  packages/pay/src/index.ts
  packages/pay/src/open-payments.ts
  packages/pay/test/setup.spec.ts
Due: pay

fix(crypto-brower): replace window object with self
  packages/ilp-protocol-stream/src/util/crypto-browser.ts
Due: none

fix(crypto-browser): replace window object with self
  packages/ilp-protocol-stream/src/util/crypto-browser.ts
Due: none

fix(crypto-browser): replace window object with self (#291)
  packages/ilp-protocol-stream/src/util/crypto-browser.ts
Due: none

chore(pay): change incoming payment accountId to paymentPointer
  packages/pay/README.md
  packages/pay/src/open-payments.ts
  packages/pay/test/setup.spec.ts
Due: pay

chore(pay): change incoming payment accountId to paymentPointer (#294)
  packages/pay/README.md
  packages/pay/src/open-payments.ts
  packages/pay/test/setup.spec.ts
Due: pay

chore(release): publish
  packages/ilp-protocol-stream/CHANGELOG.md
  packages/ilp-protocol-stream/package-lock.json
  packages/ilp-protocol-stream/package.json
  packages/ilp-spsp-payout/CHANGELOG.md
  packages/ilp-spsp-payout/package.json
  packages/pay/CHANGELOG.md
  packages/pay/package.json
  packages/stream-receiver/CHANGELOG.md
  packages/stream-receiver/package.json
Due: none

chore: update most dependencies
  package.json
  packages/ilp-logger/package.json
  packages/ilp-plugin/package.json
  packages/ilp-protocol-ildcp/package.json
  packages/ilp-protocol-stream/package.json
  packages/ilp-spsp-payout/package.json
  packages/oer-utils/package.json
  packages/pay/package.json
  packages/stream-receiver/package.json
  yarn.lock
Due: none

chore: use @tsconfig/recommended and some config cleanup
  .gitignore
  package.json
  packages/connection-tag-utils/tsconfig.build.json
  packages/pay/jest.config.js
  tsconfig.json
  yarn.lock
Due: none

refactor(stream): use connection pool for state
  packages/ilp-protocol-stream/src/pool.ts
  packages/ilp-protocol-stream/src/server.ts
Due: none

refactor(ilp-packet): neater ilp errors
  packages/ilp-packet/src/errors.ts
  packages/ilp-packet/src/index.ts
  packages/ilp-protocol-stream/src/connection.ts
Due: ilp_packet, ilp_plugin

refactor: making the type checker happy
  packages/ilp-packet/src/index.ts
  packages/ilp-packet/test/benchmarks/packet.ts
  packages/ilp-packet/test/date.spec.ts
  packages/ilp-protocol-ildcp/src/index.ts
  packages/ilp-protocol-ildcp/test/benchmarks/packet.spec.ts
  packages/ilp-protocol-stream/src/connection.ts
  packages/ilp-protocol-stream/src/index.ts
  packages/ilp-protocol-stream/src/packet.ts
  packages/ilp-protocol-stream/src/stream.ts
  packages/ilp-protocol-stream/src/util/congestion.ts
  packages/ilp-protocol-stream/src/util/long.ts
  packages/ilp-protocol-stream/src/util/rational.ts
  packages/ilp-protocol-stream/src/util/receipt.ts
  packages/ilp-protocol-stream/src/util/stoppable-timeout.ts
  packages/ilp-protocol-stream/test/benchmarks/packet.ts
  packages/ilp-protocol-stream/test/browser.spec.ts
  packages/ilp-protocol-stream/test/connection.spec.ts
  packages/ilp-protocol-stream/test/mocks/plugin.ts
  packages/ilp-protocol-stream/test/packet.spec.ts
  packages/ilp-protocol-stream/test/stream.spec.ts
  packages/ilp-protocol-stream/test/util/long.spec.ts
  packages/ilp-protocol-stream/test/util/rational.spec.ts
  packages/oer-utils/src/lib/predictor.ts
  packages/oer-utils/src/lib/reader.ts
  packages/oer-utils/src/lib/util.ts
  packages/oer-utils/src/lib/writer.ts
  packages/oer-utils/test/predictor.spec.ts
  packages/oer-utils/test/reader.spec.ts
  packages/oer-utils/test/util.spec.ts
  packages/oer-utils/test/writer.spec.ts
  packages/pay/src/request.ts
Due: ilp_packet, ilp_plugin, ilp_protocol-ildcp, oer_utils, pay

fix(stream): update browser tests for webpack 5
  packages/ilp-protocol-stream/package.json
  packages/ilp-protocol-stream/scripts/generate-fixtures.ts
  packages/ilp-protocol-stream/test/browser/magical-window-interface.ts
  packages/ilp-protocol-stream/test/browser/main.ts
  packages/ilp-protocol-stream/test/browser/webpack.config.ts
  packages/ilp-protocol-stream/test/fixtures/fixtureTypes.ts
  yarn.lock
Due: none

fix(stream): use setTimeout over setImmediate
  packages/ilp-protocol-stream/src/connection.ts
  packages/ilp-protocol-stream/src/pool.ts
  packages/ilp-protocol-stream/src/stream.ts
  packages/ilp-protocol-stream/test/connection.spec.ts
  packages/ilp-protocol-stream/test/stream.spec.ts
Due: none

fix: support node 18
  .github/workflows/build.yml
  packages/ilp-protocol-stream/src/stream.ts
Due: none

chore: typo in ilp-protocol-stream path
  tsconfig.json
Due: none

fix(oer): isSafeLength should not accept zero
  packages/oer-utils/src/lib/util.ts
Due: oer_utils

refactor(oer): use isSafeLength in Reader
  packages/oer-utils/src/lib/reader.ts
  packages/oer-utils/test/reader.spec.ts
Due: oer_utils
