Repository interledgerjs/interledgerjs: changes, and which Codecov flags are due for each by the changed paths.
All: connection_tag_utils, ilp_logger, ilp_packet, ilp_plugin, ilp_protocol_ccp, ilp_protocol-ildcp, ilp_spsp_payout, oer_utils, pay

.codecov.yml:

coverage:
  status:
    patch:
      default:
        target: 80%
    project:
      default:
        target: 80%
      pay:
        target: 95%
        flags:
          - pay

flags:
  connection_tag_utils:
    paths:
      - packages/connection-tag-utils/src/
  ilp_logger:
    paths:
      - packages/ilp-logger/src/
  ilp_packet:
    paths:
      - packages/ilp-packet/src/
  ilp_plugin:
    paths:
      - packages/ilp-packet/src/
  ilp_protocol_ccp:
    paths:
      - packages/ilp-protocol-ccp/src/
  ilp_protocol-ildcp:
    paths:
      - packages/ilp-protocol-ildcp/src/
  ilp_spsp_payout:
    paths:
      - packages/ilp-spsp-payout/src/
  oer_utils:
    paths:
      - packages/oer-utils/src/
  pay:
    paths:
      - packages/pay/src/

fix: allow prerelease
  lerna.json
Due: none

chore(release): publish
  packages/ilp-spsp-payout/CHANGELOG.md
  packages/ilp-spsp-payout/package.json
Due: none

fix(spsp-payout): bump
  .github/workflows/master.yml
  packages/ilp-spsp-payout/src/lib/PayoutConnection.ts
Due: ilp_spsp_payout

feat(spsp-payout): fix another memory leak
  packages/ilp-spsp-payout/src/index.ts
  packages/ilp-spsp-payout/src/lib/PayoutConnection.ts
Due: ilp_spsp_payout

fix(spsp-payout): add tests and logging
  packages/ilp-spsp-payout/src/index.ts
  packages/ilp-spsp-payout/src/lib/Logger.ts
  packages/ilp-spsp-payout/src/lib/PayoutConnection.ts
  packages/ilp-spsp-payout/test/PayoutConnection.spec.ts
  packages/ilp-spsp-payout/test/index.spec.ts
Due: ilp_spsp_payout

feat(pay): onProgress event
  packages/pay/README.md
  packages/pay/src/controllers/failure.ts
  packages/pay/src/controllers/payment-progress.ts
  packages/pay/src/index.ts
  packages/pay/test/index.spec.ts
Due: pay

fix(connection): fix double-loop race
  packages/ilp-protocol-stream/src/connection.ts
Due: none

2.6.5
  packages/ilp-protocol-stream/package-lock.json
  packages/ilp-protocol-stream/package.json
Due: none

fix(ilp-plugin): don't drop ILP_BTP_SERVER path
  packages/ilp-plugin/src/index.ts
Due: none

chore(release): publish
  packages/ilp-plugin/CHANGELOG.md
  packages/ilp-plugin/package.json
  packages/ilp-spsp-payout/CHANGELOG.md
  packages/ilp-spsp-payout/package.json
Due: none

feat: latest changes
  package.json
  packages/packet/src/index.ts
  packages/pay/README.md
  packages/pay/package.json
  packages/pay/src/connection.ts
  packages/pay/src/controllers/asset-details.ts
  packages/pay/src/controllers/asset-probe.ts
  packages/pay/src/controllers/connection-closer.ts
  packages/pay/src/controllers/establishment.ts
  packages/pay/src/controllers/exchange-rate.ts
  packages/pay/src/controllers/expiry.ts
  packages/pay/src/controllers/failure.ts
  packages/pay/src/controllers/index.ts
  packages/pay/src/controllers/max-packet.ts
  packages/pay/src/controllers/pacer.ts
  packages/pay/src/controllers/payment.ts
  packages/pay/src/controllers/pending-requests.ts
  packages/pay/src/controllers/rate-probe.ts
  packages/pay/src/controllers/receipt.ts
  packages/pay/src/controllers/sequence.ts
  packages/pay/src/controllers/timeout.ts
  packages/pay/src/index.ts
  packages/pay/src/open-payments.ts
  packages/pay/src/request.ts
  packages/pay/src/send-loop.ts
  packages/pay/src/utils.ts
  packages/pay/src/wm.ts
  packages/pay/test/connection.spec.ts
  packages/pay/test/helpers/plugin.ts
  packages/pay/test/index.spec.ts
  packages/pay/tsconfig.json
  yarn.lock
Due: pay

Merge pull request #69 from interledgerjs/dj-connect-flags
  packages/ilp-plugin-btp/src/index.ts
  packages/ilp-plugin-btp/src/protocol-data-converter.ts
  packages/ilp-plugin-btp/test/index.test.js
Due: none

1.5.0
  packages/ilp-plugin-btp/package-lock.json
  packages/ilp-plugin-btp/package.json
Due: none

feat: latest
  .eslintrc.js
  packages/pay/README.md
  packages/pay/archive/asset
  packages/pay/archive/ecb
  packages/pay/archive/liquidity-congestion
  packages/pay/archive/monetization.spec
  packages/pay/archive/pacer2
  packages/pay/archive/rates/coincap
  packages/pay/archive/receipt-logic
  packages/pay/archive/send-loop
  packages/pay/archive/web-monetization
  packages/pay/jest.config.js
  packages/pay/package.json
  packages/pay/src/connection.ts
  packages/pay/src/controllers/asset-details.ts
  packages/pay/src/controllers/asset-probe.ts
  packages/pay/src/controllers/connection-closer.ts
  packages/pay/src/controllers/exchange-rate.ts
  packages/pay/src/controllers/index.ts
  packages/pay/src/controllers/max-packet.ts
  packages/pay/src/controllers/pacer.ts
  packages/pay/src/controllers/payment.ts
  packages/pay/src/controllers/rate-probe.ts
  packages/pay/src/index.ts
  packages/pay/src/open-payments.ts
  packages/pay/src/payment-pointer.ts
  packages/pay/src/request.ts
  packages/pay/src/send-loop.ts
  packages/pay/src/utils.ts
  packages/pay/src/wm.ts
  packages/pay/test/helpers/plugin.ts
  packages/pay/test/index.spec.ts
  packages/pay/test/integration.spec.ts
  packages/pay/test/payment.spec.ts
  packages/pay/test/reply.spec.ts
  packages/pay/test/setup.spec.ts
  packages/pay/test/utils.spec.ts
  yarn.lock
Due: pay

docs: readme updates
  packages/pay/README.md
Due: none

fix: minor updates
  packages/pay/README.md
  packages/pay/src/index.ts
Due: pay

feat(pay): internal api, send-only, receipts
  packages/pay/src/connection.ts
  packages/pay/src/controllers/amount.ts
  packages/pay/src/controllers/asset-details.ts
  packages/pay/src/controllers/asset-probe.ts
  packages/pay/src/controllers/connection-closer.ts
  packages/pay/src/controllers/establishment.ts
  packages/pay/src/controllers/exchange-rate.ts
  packages/pay/src/controllers/expiry.ts
  packages/pay/src/controllers/failure.ts
  packages/pay/src/controllers/index.ts
  packages/pay/src/controllers/liquidity-congestion.ts
  packages/pay/src/controllers/max-packet.ts
  packages/pay/src/controllers/pacer.ts
  packages/pay/src/controllers/payment.ts
  packages/pay/src/controllers/pending-requests.ts
  packages/pay/src/controllers/rate-probe.ts
  packages/pay/src/controllers/sequence.ts
  packages/pay/src/controllers/timeout.ts
  packages/pay/src/request.ts
  packages/pay/src/utils.ts
  packages/pay/test/connection.spec.ts
  packages/pay/test/helpers/plugin.ts
  packages/pay/test/payment.spec.ts
  packages/pay/test/reply.spec.ts
Due: pay

feat(pay): top-level api, docs, spsp improvements
  .eslintrc.js
  package.json
  packages/pay/README.md
  packages/pay/jest.config.js
  packages/pay/package.json
  packages/pay/src/index.ts
  packages/pay/src/open-payments.ts
  packages/pay/src/payment-pointer.ts
  packages/pay/src/rates/coincap.ts
  packages/pay/src/rates/ecb.ts
  packages/pay/test/index.spec.ts
  packages/pay/test/integration.spec.ts
  packages/pay/test/setup.spec.ts
  packages/pay/test/utils.spec.ts
  packages/pay/tsconfig.json
  packages/stream-receiver/jest.config.js
  tsconfig.json
  yarn.lock
Due: pay

fix(server): correctly start idle timer
  packages/ilp-protocol-stream/src/connection.ts
Due: none

feat(server): remove agingset
  packages/ilp-protocol-stream/src/pool.ts
  packages/ilp-protocol-stream/src/util/aging-set.ts
  packages/ilp-protocol-stream/test/index.test.ts
  packages/ilp-protocol-stream/test/util/aging-set.test.ts
Due: none

fix: implement kincaid's suggestions
  packages/ilp-protocol-stream/src/pool.ts
  packages/ilp-protocol-stream/test/index.test.ts
Due: none

2.7.0
  packages/ilp-protocol-stream/package-lock.json
  packages/ilp-protocol-stream/package.json
Due: none

feat: composable, stateless top-level functions
  packages/pay/README.md
  packages/pay/src/connection.ts
  packages/pay/src/controllers/connection-closer.ts
  packages/pay/src/controllers/establishment.ts
  packages/pay/src/controllers/exchange-rate.ts
  packages/pay/src/controllers/failure.ts
  packages/pay/src/controllers/index.ts
  packages/pay/src/controllers/max-packet.ts
  packages/pay/src/controllers/pacer.ts
  packages/pay/src/controllers/rate-probe.ts
  packages/pay/src/controllers/sequence.ts
  packages/pay/src/index.ts
  packages/pay/src/request.ts
  packages/pay/src/senders/asset-probe.ts
  packages/pay/src/senders/connection-closer.ts
  packages/pay/src/senders/index.ts
  packages/pay/src/senders/payment.ts
  packages/pay/src/senders/rate-probe.ts
  packages/pay/src/utils.ts
  packages/pay/test/helpers/plugin.ts
  packages/pay/test/integration.spec.ts
  packages/pay/test/payment.spec.ts
  packages/pay/test/setup.spec.ts
  packages/pay/test/utils.spec.ts
  yarn.lock
Due: pay

docs: minor edits
  packages/pay/README.md
Due: none

fix: address comments
  packages/pay/README.md
  packages/pay/src/controllers/sequence.ts
  packages/pay/src/index.ts
  packages/pay/test/payment.spec.ts
  packages/pay/test/setup.spec.ts
  packages/pay/test/utils.spec.ts
Due: pay

fix(pay): comments
  packages/pay/README.md
  packages/pay/src/controllers/max-packet.ts
  packages/pay/src/payment-pointer.ts
  packages/pay/src/utils.ts
  packages/pay/test/utils.spec.ts
  packages/stream-receiver/README.md
Due: pay

fix(pay): use BigInt instead of Int for api
  packages/pay/README.md
  packages/pay/src/index.ts
  packages/pay/src/open-payments.ts
  packages/pay/src/senders/payment.ts
  packages/pay/src/utils.ts
  packages/pay/test/integration.spec.ts
  packages/pay/test/payment.spec.ts
  packages/pay/test/setup.spec.ts
  packages/pay/test/utils.spec.ts
Due: pay

feat(pay): allow http payment pointers
  packages/pay/src/open-payments.ts
  packages/pay/src/payment-pointer.ts
  packages/pay/test/setup.spec.ts
  packages/pay/test/utils.spec.ts
Due: pay

fix(pay): more comments
  packages/pay/README.md
  packages/pay/src/controllers/exchange-rate.ts
  packages/pay/src/payment-pointer.ts
  packages/pay/test/integration.spec.ts
  packages/pay/test/payment.spec.ts
  packages/pay/test/reply.spec.ts
  packages/pay/test/setup.spec.ts
  packages/pay/test/utils.spec.ts
Due: pay

fix(pay): Quote vs IntQuote
  packages/pay/README.md
  packages/pay/src/index.ts
  packages/pay/src/senders/payment.ts
  packages/pay/test/integration.spec.ts
  packages/pay/test/payment.spec.ts
Due: pay

chore(release): publish
  packages/pay/CHANGELOG.md
  packages/pay/package.json
  packages/stream-receiver/CHANGELOG.md
  packages/stream-receiver/package.json
Due: none

chore(logger): bump debug; fix deprecation warning
  packages/ilp-logger/package.json
  packages/ilp-logger/src/index.ts
  yarn.lock
Due: ilp_logger

chore(ci): run CI on node v14
  .github/workflows/build.yml
Due: none

chore(release): publish
  packages/ilp-logger/CHANGELOG.md
  packages/ilp-logger/package.json
  packages/ilp-plugin/CHANGELOG.md
  packages/ilp-plugin/package.json
  packages/ilp-spsp-payout/CHANGELOG.md
  packages/ilp-spsp-payout/package.json
  packages/pay/CHANGELOG.md
  packages/pay/package.json
  packages/stream-receiver/CHANGELOG.md
  packages/stream-receiver/package.json
Due: none

fix(pay): fix flaky test
  packages/pay/test/integration.spec.ts
Due: none

core(pay): bump testcontainers
  packages/pay/package.json
  yarn.lock
Due: none

fix(ilp-packet): test address on decoding prepare
  packages/ilp-packet/src/index.ts
  packages/ilp-packet/test/parser.spec.ts
Due: ilp_packet, ilp_plugin
